<a href="https://colab.research.google.com/github/Chaqmoqjon/Ma-lumotlarni-ishlash/blob/main/11_GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/automobile_data.csv',  index_col=0)
df.head()

           company   body-style  wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
index
0      alfa-romero  convertible        88.6   168.8        dohc             four         111               21  13495.0
1      alfa-romero  convertible        88.6   168.8        dohc             four         111               21  16500.0
2      alfa-romero    hatchback        94.5   171.2        ohcv              six         154               19  16500.0
3             audi        sedan        99.8   176.6         ohc             four         102               24  13950.0
4             audi        sedan        99.4   176.6         ohc             five         115               18  17450.0

In [ ]:
df.company.value_counts() # kompaniyalarning mashinalari sanaldi

company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

In [ ]:
df.groupby('company').mean(numeric_only=True) #kategoriya bo'yicha o'rtachasi topildi

               wheel-base      length  horsepower  average-mileage         price
company
alfa-romero     90.566667  169.600000  125.333333        20.333333  15498.333333
audi           101.200000  180.800000  109.250000        20.000000  16392.500000
bmw            103.433333  185.033333  144.833333        19.000000  27213.333333
chevrolet       92.466667  151.933333   62.666667        41.000000   6007.000000
dodge           93.700000  157.300000   68.000000        31.000000   6303.000000
honda           96.500000  167.200000   92.333333        26.333333  10195.000000
isuzu           94.433333  160.833333   72.666667        33.333333   6785.000000
jaguar         109.333333  196.966667  204.666667        14.333333  34600.000000
mazda           95.900000  164.260000   75.400000        28.000000   9654.800000
mercedes-benz  113.225000  197.275000  153.500000        18.000000  35040.000000
mitsubishi      95.000000  164.850000   78.000000        29.500000   6689.000000
nissan          95.680000  170.140000   82.800000        31.400000   8289.000000
porsche         92.466667  171.166667  234.000000        17.000000  35528.000000
toyota          96.957143  167.571429   75.428571        28.714286   8216.857143
volkswagen      97.300000  171.700000   72.250000        31.750000   8435.000000
volvo          104.300000  188.800000  114.000000        23.000000  13177.500000

In [ ]:
df.groupby('company').price.max() #price ning maximumi topildi

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [ ]:
df.groupby(['company', 'body-style']).max() #ikki va undan ortiq ustunlarni bersa ham bo'ladi

                           wheel-base  length engine-type num-of-cylinders  horsepower  average-mileage    price
company       body-style
alfa-romero   convertible        88.6   168.8        dohc             four         111               21  16500.0
              hatchback          94.5   171.2        ohcv              six         154               19  16500.0
audi          sedan              99.8   177.3         ohc             four         115               24  17450.0
              wagon             105.8   192.7         ohc             five         110               19  18920.0
bmw           sedan             110.0   197.0         ohc              six         182               23  41315.0
chevrolet     hatchback          94.5   155.9         ohc            three          70               47   6295.0
              sedan              94.5   158.8         ohc             four          70               38   6575.0
dodge         hatchback          93.7   157.3         ohc             four          68               31   6377.0
honda         sedan              96.5   175.4         ohc             four         101               25  12945.0
              wagon              96.5   157.1         ohc             four          76               30   7295.0
isuzu         sedan              94.5   170.7         ohc             four          78               38   6785.0
jaguar        sedan             113.0   199.6        ohcv           twelve         262               15  36000.0
mazda         hatchback          95.3   169.0       rotor              two         101               31  11845.0
              sedan             104.9   175.0         ohc             four          72               31  18344.0
mercedes-benz hardtop           112.0   199.2        ohcv            eight         184               14  45400.0
              sedan             120.9   208.1        ohcv             five         184               22  40960.0
              wagon             110.0   190.9         ohc             five         123               22  28248.0
mitsubishi    hatchback          93.7   157.3         ohc             four          68               37   6189.0
              sedan              96.3   172.4         ohc             four          88               25   8189.0
nissan        sedan             100.4   184.6        ohcv              six         152               45  13499.0
              wagon              94.5   170.2         ohc             four          69               31   7349.0
porsche       convertible        89.5   168.9        ohcf              six         207               17  37028.0
              hardtop            89.5   168.9        ohcf              six         207               17  34028.0
              hatchback          98.4   175.7       dohcv            eight         288               17      NaN
toyota        hatchback          95.7   158.7         ohc             four          62               35   6488.0
              wagon             104.5   187.8         ohc              six         156               31  15750.0
volkswagen    sedan              97.3   171.7         ohc             four         100               37   9995.0
volvo         sedan             104.3   188.8         ohc             four         114               23  12940.0
              wagon             104.3   188.8         ohc             four         114               23  13415.0

In [ ]:
df.groupby('company').agg([ 'min', 'max']) # bir nechta funksiyalarni ishlatish

                body-style            wheel-base        length        engine-type        num-of-cylinders         horsepower      average-mileage        price
                       min        max        min    max    min    max         min    max              min     max        min  max             min max      min      max
company
alfa-romero    convertible  hatchback       88.6   94.5  168.8  171.2        dohc   ohcv             four     six        111  154              19  21  13495.0  16500.0
audi                 sedan      wagon       99.4  105.8  176.6  192.7         ohc    ohc             five    four        102  115              18  24  13950.0  18920.0
bmw                  sedan      sedan      101.2  110.0  176.8  197.0         ohc    ohc             four     six        101  182              15  23  16430.0  41315.0
chevrolet        hatchback      sedan       88.4   94.5  141.1  158.8           l    ohc             four   three         48   70              38  47   5151.0   6575.0
dodge            hatchback  hatchback       93.7   93.7  157.3  157.3         ohc    ohc             four    four         68   68              31  31   6229.0   6377.0
honda                sedan      wagon       96.5   96.5  157.1  175.4         ohc    ohc             four    four         76  101              24  30   7295.0  12945.0
isuzu                sedan      sedan       94.3   94.5  155.9  170.7         ohc    ohc             four    four         70   78              24  38   6785.0   6785.0
jaguar               sedan      sedan      102.0  113.0  191.7  199.6        dohc   ohcv              six  twelve        176  262              13  15  32250.0  36000.0
mazda            hatchback      sedan       93.1  104.9  159.1  175.0         ohc  rotor             four     two         68  101              17  31   5195.0  18344.0
mercedes-benz      hardtop      wagon      110.0  120.9  190.9  208.1         ohc   ohcv            eight    five        123  184              14  22  25552.0  45400.0
mitsubishi       hatchback      sedan       93.7   96.3  157.3  172.4         ohc    ohc             four    four         68   88              25  37   5389.0   8189.0
nissan               sedan      wagon       94.5  100.4  165.3  184.6         ohc   ohcv             four     six         55  152              19  45   6649.0  13499.0
porsche        convertible  hatchback       89.5   98.4  168.9  175.7       dohcv   ohcf            eight     six        207  288              17  17  34028.0  37028.0
toyota           hatchback      wagon       95.7  104.5  158.7  187.8        dohc    ohc             four     six         62  156              19  35   5348.0  15750.0
volkswagen           sedan      sedan       97.3   97.3  171.7  171.7         ohc    ohc             four    four         52  100              26  37   7775.0   9995.0
volvo                sedan      wagon      104.3  104.3  188.8  188.8         ohc    ohc             four    four        114  114              23  23  12940.0  13415.0

In [ ]:
df.groupby('company').agg({'price':['max', 'min', np.mean]})

<ipython-input-49-f1bf6a3e7e0f>:1: FutureWarning: The provided callable <function mean at 0x7eeb83168f40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('company').agg({'price':['max', 'min', np.mean]})

                 price
                   max      min          mean
company
alfa-romero    16500.0  13495.0  15498.333333
audi           18920.0  13950.0  16392.500000
bmw            41315.0  16430.0  27213.333333
chevrolet       6575.0   5151.0   6007.000000
dodge           6377.0   6229.0   6303.000000
honda          12945.0   7295.0  10195.000000
isuzu           6785.0   6785.0   6785.000000
jaguar         36000.0  32250.0  34600.000000
mazda          18344.0   5195.0   9654.800000
mercedes-benz  45400.0  25552.0  35040.000000
mitsubishi      8189.0   5389.0   6689.000000
nissan         13499.0   6649.0   8289.000000
porsche        37028.0  34028.0  35528.000000
toyota         15750.0   5348.0   8216.857143
volkswagen      9995.0   7775.0   8435.000000
volvo          13415.0  12940.0  13177.500000

In [ ]:
pd.set_option('display.max_columns', None) #describe uchun kattaroq ekran kerak edi
pd.set_option('display.width', 1000)

In [ ]:
df.groupby('company').describe() # barch kerakli ma'lumotlar